/1520218244078.jpg
/1920x1080-ghost-white-solid-color-background.jpg
/1W3A8995.JPG
/27-11-2025 - Règlement pédagogique - UM6P - 2025-2026_ version finale-1.pdf
/33868_Mitigating_Client_Level_.pdf
/3rd_place_video.JPG
/501-error.jpg
/ACBF
/AI- Année 2025-2026 - Spring.xlsx
/album_2026-08-02_22-10-25.gif
/album_2026-09-03_11-11-34.gif
/album_2026-09-03_11-12-10.gif
/album_2026-09-03_11-12-41.gif
/album_2026-09-03_11-46-23.gif
/Anaconda3-2025.12-1-Windows-x86_64.exe
/Antigravity-x64.exe
/AP Topics_CI1 2026.pdf
/AppleFairness.pdf
/applsci-15-02914.pdf
/app_asar_file_v1.9.5
/app_asar_file_v1.9.5.zip
/Attestation Assurance Salim Qadda.pdf
/Attestation Scolarité Salim Qadda.pdf
/azzvzncmwm_trimmed.mp4
/bittorrent_installer.exe
/Byzantine-Robust and Differentially Private Federated.pdf
/Canevas_Stage PFA & PFE
/Canevas_Stage PFA & PFE.zip
/cc-logo.png
/Chapitre1 - equa diff.pdf
/Chapter4-FurtherTopicsOnRandomVariables.pdf
/ChatGPT Image May 16, 2026, 02_01_59 PM.png
/CI1 - Affichage des résultats - Semestre 2 - Session normale - Année 2025-2026.xlsx
/CI1 - Liste des groupes - 2025-2026.xlsx
/CI1_Projects_CC.pdf
/CIN.pdf
/class_pic_information_theory.jpeg
/Convention de stage Salim Qadda.pdf
/Convention de stage- modéle 25-26.docx
/Convention de stage- modéle 25-26SignedHE.docx
/CursorUserSetup-x64-3.9.16.exe
/CV Salim Qadda EN.pdf
/CV Salim Qadda FR.pdf
/CV SalimQadda EN.pdf
/CV SalimQadda FR.pdf
/CV_SalimQadda_EN.pdf
/CV_SalimQadda_FR.pdf
/data
/data_science_final_exam.html
/deep-research-report.md
/Defenses PA1_2026.pdf
/desktop.ini
/Detailed_Distributed_KV_Store_Project_Guide.pdf
/Detecting-Outliers-IQR-and-Z-Score-Methods-Explained.pptx
/Detecting-temp.pptx
/Dictators.pptx
/Differential_Privacy_for_Deep_and_Federated_Learning_A_Survey.pdf
/DiscordSetup.exe
/Doc1.docx
/dog_cat_exercise_updated.ipynb
/DP paper summary.md
/DPSGD.pdf
/dxwebsetup.exe
/Efficient Federated Learning Presentation-1.pdf
/Efficient Federated Learning Presentation.pdf
/EnglishAssignment.zip
/EpicInstaller-19.2.0.msi
/Evaluation Form_Internship_Host Organization.docx
/far-fedfdp
/far-fedfdp.zip
/far_cm_nnm__bitflip__noDP__alpha-0.1__seed23__a88921e568d0.pkl
/FAR_DP_Fairness_Idea1.ipynb
/FAR_DP_Fairness_Idea1_fixed(1).ipynb
/FAR_DP_Fairness_Idea1_fixed(2).ipynb
/FAR_DP_Fairness_Idea1_fixed.ipynb
/FAR_DP_Fairness_Idea1_fixed_3_.ipynb
/FAR_FedFDP_publication(1)(1).ipynb
/FAR_FedFDP_publication(1).ipynb
/FAR_FedFDP_publication(2).ipynb
/FAR_FedFDP_publication.ipynb
/FAR_final_corrected(1).ipynb
/FAR_final_corrected.ipynb
/FAR_final_corrected_1_(1).ipynb
/FAR_final_corrected_1_(2)(1).ipynb
/FAR_final_corrected_1_(2).ipynb
/FAR_final_corrected_1_.ipynb
/FAR_final_corrected_multiseed.ipynb
/FAR_final_multiseed(1).ipynb
/FAR_final_multiseed(2).ipynb
/FAR_final_multiseed.ipynb
/FAR_final_multiseed_2_fixed(1)(1).ipynb
/FAR_final_multiseed_2_fixed(1)(2).ipynb
/FAR_final_multiseed_2_fixed(1).ipynb
/FAR_final_multiseed_2_fixed.ipynb
/FAR_final_multiseed_2_fixed_1__2_(1).ipynb
/FAR_final_multiseed_2_fixed_1__2_(2)(1).ipynb
/FAR_final_multiseed_2_fixed_1__2_(2)(2).ipynb
/FAR_final_multiseed_2_fixed_1__2_(2).ipynb
/FAR_final_multiseed_2_fixed_1__2_.ipynb
/FAR_publication(1).ipynb
/FAR_publication(2).ipynb
/FAR_publication.ipynb
/FAR_simulation.ipynb
/FAR_simulation_checkpoint1.ipynb
/FAR_simulation_checkpoint1_final.ipynb
/FC 26 Denuvo Fix.exe
/fedcarousel_clean.html
/fedcarousel_summary.pdf
/FedCaroussel.pdf
/FederatedLearningBook.pdf
/FedFDP.pdf
/FedPartPaper.pdf
/FedProx.pdf
/final_25_as_given_to_students.pdf
/final_ranking.jpg
/Firefox Installer.exe
/First round prompts.docx
/First round prompts.pdf
/FL Intro Slides.pdf
/gemini-code-1778939347740.html
/gemini-code-1778939517788.html
/gemini-code-1778939682935.html
/Git-2.52.0-64-bit.exe
/GlassBox.pdf
/global_sim.ipynb
/go1.25.6.windows-amd64.msi
/hackathon_photographer.zip
/HWMonitor_V1.56.exe
/Hébergement CI1 2025_2026.xlsx
/Ideas for research.md
/IdeasInternship.md
/internship application.png
/Internship_Report(1).docx
/Internship_Report.docx
/Internship_Report_revised.docx
/Internship_Simulations.ipynb
/IntroductionToFederatedLearning.pdf
/ironclaw-x86_64-pc-windows-msvc.msi
/LAB1.pdf
/LabsCompArchi.zip
/lambda_PL_Condition_proof.pdf
/LeapProjectCI.pdf
/LEAP_FL_Defense_Presentation(1).pptx
/LEAP_FL_Defense_Presentation(2).pptx
/LEAP_FL_Defense_Presentation(3).pptx
/LEAP_FL_Defense_Presentation-G8.pptx
/LEAP_FL_Defense_Presentation.pdf
/LEAP_FL_Defense_Presentation.pptx
/LEAP_FL_Defense_Presentation_Qadda_Ammari.pptx
/LLM Attacker vs Defender.htm
/LLM Attacker vs Defender.txt
/LLM Attacker vs Defender_files
/MAS_AIO.cmd
/MECCHA-CHAMELEON-AnkerGames.zip
/Modèle_Fiche technique_Stage_Cycle IngSESalim.docx
/Modèle_Autorisation de soutenance.docx
/NPE_free.exe
/NVIDIA_app_v11.0.7.247.exe
/OfficeSetup.exe
/okvqbutfdv_trimmed.mp4
/OllamaSetup.exe
/openreview_styled.html
/paper ideas.htm
/Part 1 - Popular algorithms.md
/Part 1 - Popular algorithms.pdf
/Pitch PA.md
/Plans de Stationnement & de Circulation.pdf
/Poster - AP - Qadda - Ammari.pdf
/Poster - AP - Qadda - Ammari.pptx
/Poster - AP - Updated 2026.pptx
/Poster - AP.pdf
/Poster - AP.pptx
/presentation_hackathon.jpg
/presenting_hackathon.jpg
/prize_hackathon.jpg
/Procédure_Stages_CC_VF avec Annexes_2025.pdf
/profile_pic.jpg
/Project Defense AI.xlsx
/ProtonVPN_v4.3.11_x64.exe
/qFFL.pdf
/Rabat-Benguerir.xlsx
/rdv salim.pdf
/Rebuttal_main_issues_suggestions.pdf
/Rebuttal_updated.html
/remarques CI1.md
/report_symbolic_robot.pdf
/Rethinking Convergence Speed via Layer-Wise Client Parallelism in Federated Learning _ OpenReview.html
/RIB_Salim_Qadda.pdf
/rufus-4.11.exe
/Récapitulatif de la demande _ TLScontact {{vac_name}}.pdf
/S6.zip
/Salim Qadda BMCE demande-1.pdf
/Salim Qadda BMCE demande-2.pdf
/Salim Qadda BMCE demande.pdf
/Salim Qadda bmce.docx
/Salim Qadda_BMCE.docx
/SalimQadda - Cover Letter - PFA.docx
/SalimQadda - Cover Letter - PFA.pdf
/SalimQadda - CV English.pdf
/SalimQadda - CV Français.pdf
/SalimQadda - Lettre de Motivation - PFA.docx
/SalimQadda - Lettre de Motivation - PFA.pdf
/SalimQadda - Lettre de recommandation_CS_PFA.pdf
/SalimQadda BMCE Lettre de Motivation.pdf
/SalimQadda Cover Letter - PFA.pdf
/Salim_Qadda.pdf
/shannon.pdf
/sim_cache-20260716T190141Z-1-001
/sim_cache-20260723T213402Z-1-001
/sim_cache-20260723T213402Z-1-001.zip
/sim_cache-20260731T084839Z-1-001
/sim_cache-20260731T084839Z-1-001.zip
/solutions_Pl_Grouping.pdf
/SpanishGroup.pdf
/SteamSetup.exe
/STUDENTCARD.jpg
/styled_openreview.html
/Sujets_Projets d'application_PA 2026_CI1.pdf
/Supervision Sheet_P17_G8.xlsx
/Symbolic control presentation.pdf
/temp.md
/temp.pdf
/temp2.pdf
/TERM.pdf
/Theory_for_Guitarists.pdf
/TLauncher-Installer-1.9.5.1.exe
/Tom-Hanks-in-Cast-Away.jpg
/typora-windows-x64-1.9.5.exe
/ubuntu-24.04.3-desktop-amd64.iso
/UM6P-CS-Equadiff.pdf
/UM6P_Internship_Report_FAR_FedFDP(1).docx
/UM6P_Internship_Report_FAR_FedFDP.docx
/UM6P_Internship_Report_FAR_FedFDP_FINAL.docx
/UM6P_Internship_Report_FAR_FedFDP_updated.docx
/UM6P_Internship_Report_Rewritten.docx
/UM6P_Internship_Report_Salim_QADDA.docx
/UM6P_Internship_Report_Salim_QADDA_REVISED.docx
/UM6P_Internship_Report_Salim_QADDA_updated.docx
/Untitled.png
/Untitled2.png
/vcruntime140_1
/vcruntime140_1.zip
/VC_redist.x64(1).exe
/vc_redist.x64.exe
/WacomTablet_6.4.12-3.exe
/wetransfer_untitled-transfer_2026-04-01_0924
/WhatsApp Image 2026-03-10 at 12.34.09 (1).jpeg
/WhatsApp Image 2026-03-10 at 12.34.09.jpeg
/WhatsApp Image 2026-04-19 at 15.03.01.jpeg
/White and Blue Minimalist AI Engineer LinkedIn Banner.png
/Wireshark-4.6.4-x64.exe
/~$Doc1.docx
/~$nvention de stage- modéle 25-26.docx
/~$ternship_Report_revised.docx